<% if logged_in? and @booking and @room %>
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h1>New Booking</h1>
            <% if current_user.admin %>
                <h6>You may book on behalf of a library member by entering the member's email below.</h6>
            <% end %>
          </div>
          <%= render 'form', booking: @booking %>
        </div>
      </div>
    </div>

    <%= link_to 'Cancel', room_path(@room), class: "btn btn-primary" %>

<% end %>