<% if logged_in? and @user %>
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h1>Edit User</h1>
          </div>
          <%= render 'form', user: @user %>
        </div>
      </div>
    </div>

    <% if logged_in? %>
        <% if current_user.admin %>
            <%= link_to 'Cancel', users_path, class: "btn btn-primary" %>
        <% else %>
            <%= link_to 'Cancel', @user, class: "btn btn-primary" %>
        <% end %>
    <% else %>
        <%= link_to 'Cancel', root_path, class: "btn btn-primary" %>
    <% end %>
<% end %>