<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Register New User</h1>
      </div>
      <%= render 'form', user: @user %>
    </div>
  </div>
</div>

<% if logged_in? %>
    <%= link_to 'Back', users_path, class: "btn btn-lg btn-primary" %>
<% else %>
    <%= link_to 'Back', root_path, class: "btn btn-lg btn-primary" %>
<% end %>