<% if logged_in? and current_user.admin %>
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h1>Booking Calendar</h1>
          </div>

          <%= month_calendar(attribute: :start, events: @bookings) do |date, bookings| %>
              <%= date.day %>

              <% bookings.each do |booking| %>
                  <div>
                    <%= link_to("Room " + booking.room.to_s + " - " + booking.start.localtime.strftime("%l %p").to_s, booking_url(booking.id)) %>
                  </div>
              <% end %>

          <% end %>
        </div>
      </div>
    </div>
    <br>
    <%= link_to 'Back to Home', home_path, class: "btn btn-primary" %>
<% end %>


