<!DOCTYPE html>
<html>
  <head>
    <title>Library Management System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h1>Library Management System</h1>
      <h5>Home</h5>
      <h5>Logout</h5>
    </div>
    <%= yield %>
  </body>
</html>
